<section class="hero">
    <img class="bg"
        src="https://images.unsplash.com/photo-1629904853716-f0bc54eea481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
    <div>
        <h1>Lorem, ipsum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi enim harum aperiam eaque cumque numquam
            obcaecati. Illum aspernatur cum sed!</p>
        <button class="btn">Learn More</button>
    </div>
    <img class="heroimg"
        src="https://royaltyfreefootages.com/upload/video/Free%20Laptop%20PNG%20image,%20transparent%20Laptop%20png%20image,%20Laptop%20png%20hd%20images%20download%20(2)_1658747873.png"
        alt="">
</section>

<section>
    <div class="header">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis possimus aspernatur quam quae deleniti
            odio id quas consequatur similique accusamus.</p>
    </div>
    <div class="cards">
        @for (item of cards; track $index) {
        <div class="card">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut maiores cum eligendi, in delectus modi.</p>
        </div>
        }
    </div>
</section>